aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet
click
Flask
googlesearch-python
html-text
idna
insta-scrape
instasave
itsdangerous
Jinja2
loguru
lxml
MarkupSafe
multidict
pyinsta3
requests
soupsieve
tqdm
urllib3
Werkzeug
xmltodict
yarl
pytesseract
Cython